* {
    margin: 0px;
}

html {
    display: flexbox;
}

body {
    background-color: #181818;
    text-align: center;
    align-items: center;
}

.bg-1 {
    background-color: #0E0E0E;
    width: 100%;
    height: 800px;
}

