.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }


.menu {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 60px;
    z-index: 222222222222;
}

.menu-list {
    list-style: none;
    color: white;
    font-family: 'Graphik', Medium;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;

}

.menu-list li {
    display: inline-block;
    margin-left: 31px;
}


.login-button {
    position: relative;
    width: 139px;
    height: 52px;
    border-radius: 0px;
    background-color: #181818;
    border-width: 1px;
    border-color: white;
    transition: all 0.5s;
    border-style: solid;
    left: 90px;
}



.login-button span {
    color: white;
    font-family: 'Graphik', Medium;
    font-size: 17px;
}


.logo-dark {

}
